<div class="logo">
  <nz-avatar style="vertical-align: middle;" nzShape="square" nzText="oauth2.0授权"></nz-avatar>
</div>
<ul nz-menu nzTheme="dark" [nzMode]="'inline'">
  <li nz-submenu>
    <span title>
      <i class="anticon anticon-appstore"></i>
      <span>应用管理</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="/clients">
        <i class="anticon anticon-bars"></i>
        <span>应用列表</span>
      </li>
      <li nz-menu-item (click)="create('iwe7-oauth-clients',{})">
        <i class="anticon anticon-edit"></i>
        <span>添加应用</span>
      </li>
    </ul>
  </li>
</ul>
